* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;

}
body{
    position: relative;
    max-width: 100svw;
    height: 100svh;
    background-image: linear-gradient(black,rgb(69, 65, 70));
}
form{
    display: flex;
    flex-direction: column;
}
.form{
   position: relative;
   right: -450px;
   top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: rgb(51, 49, 51);
    padding: 20px;
    border-radius: 20px;
}
form input{
    padding: 10px;
    border-radius: 20px;
    
}
form label{
        color: aliceblue;

}
.d{
    display: flex;
    
    gap:20px;
}
.d2{
    display: flex;
    flex-direction: column;
}
button{
   
    width: 80%;
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
}